.code {
    width: 70%;
}

.sidebar {
    width: 25%;

    &__new-project {
        padding: 0 0 2rem;
        width: 100%;

        input, textarea {
            @include pattern-input;
            width: 100%;
            margin-top: 1rem;
            box-sizing: border-box;
    
            &::placeholder {
                @include input-placeholder-text;
            }
        }
        
        textarea{
            resize: none;
            height: 80px;
        }
    }
    
    &__title {
        @include sidebar-title;
    }
    

    &__personalization {
        padding: 0 0 2rem;
        width: 100%;

        select, input {
            margin-top: 1rem;
        }

        select {
            @include pattern-input;
            color: rgba($color: white, $alpha: .64);
            width: 100%;

            option {
                @extend %background-code-editor;
            }
        }

        input {
            width: 100%;
            border: 1px white solid;
            height: 40px;
            box-sizing: border-box;
            @extend %pattern-border-radius;
            @extend %background-deep-cove;
        }
    }
}