header {
    height: 56px;
    align-items: center;
    margin: 2rem auto;

    .logo {
        width: 20%;

        img {
            width: 145px;
            height: 34.05px;
        }
    }

    .search-bar {
        @include pattern-input;
        width: 55%;
        height: 100%;

        &::placeholder {
            @include input-placeholder-text;
        }
    }

    .user {
        display: flex;
        align-items: center;
        width: 20%;

        img {
            height: 2rem;
            width: 2rem;
            border-radius: 100%;
        }

        small {
            @include fontSize(16px);
            color: white;
            padding: 0 .5rem;
        }
    }
}